.required{
    color: red;
}
.separador{
    margin-top: 25px;
}
.itensFormularioCadastro{
    margin-bottom: 15px;
}
.textCabecalho{
    font-family: Arial, Helvetica, sans-serif;
    color: black;
	padding: 1%;
}

