.required{
    color: red;
}
.separador{
    margin-top: 25px;
}
.itensFormularioCadastro{
    margin-bottom: 15px;
}
.textCabecalho{
    font-family: Arial, Helvetica, sans-serif;
    color: black;
	padding: 1%;
}
.textCabecalho_White{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    padding: 1%;
}
.teste{
    z-index: 1;
    position: relative;
}