.bgGradient{
	background: linear-gradient(to right, #9c9c9c, #ffffff);
}
.bgBlack{
	background-color: #000;
}
.bgWhite{
  background-color: #FFF;
}
.bgGray{
	background-color: #e6e6e6;
}
.bgGradientFaleConosco{
	background: linear-gradient(to right, #19406e, #ffffff);
}