.bgGradient{
	background: linear-gradient(to right, #000000, #ff6200);
}
.bgBlack{
	background-color: #000;
}
.bgWhite{
  background-color: #FFF;
}
.bgGray{
	background-color: #e6e6e6;
}
.bgGradientFaleConosco{
	background: linear-gradient(to bottom, #19406e, #ffffff);
}