.btnGroup{
    margin: 25px;
    float: right;
}
.btnCadastrar{
    margin: 25px;
    float: right;
}
.btnEditar{
    margin: 25px;
    float: right;
}
.btnAdicionar{
    margin: 25px;
    float: right;
}
.btnLimpar{
    margin: 25px;
    float: right;
}