.btnGroup{
    margin: 25px;
    float: right;
}
.btnCadastrar{
    margin: 25px;
    float: left !important;
}
.btnEditar{
    margin: 25px;
    float: right;
}
.btnAdicionar{
    margin: 25px;
    float: left !important;
}
.btnLimpar{
    margin: 25px;
    float: left !important;
}
.btnLeft{
    margin: 25px;
    float: right;
}
.btnRadio{
    margin: 05px;
}
.btns{
    margin-top: 15px;
    float: right;
}
.btnMenu{
    float: right;
}