.comprovante{
    font-size: 10px !important;
    font-family: Arial, Helvetica, sans-serif !important;
}
.informacoesEmpresa{
    margin-bottom: 25px;
}
.titulo{
    font-weight: bold !important;
    font-size: 11px !important;
    font-family: Arial, Helvetica, sans-serif !important;
    text-align: center !important;
}
.formulario{
    margin-bottom: 15px !important;
}
.itemForm{
    margin-top: 5px !important;
    margin-bottom: 5px !important;
}
.subItemForm{
    margin-top: 5px !important;
    margin-bottom: 5px !important;
    font-weight: bold !important;
}
.qrCode{
    margin-top: 50px !important;
}
.agradecimentos{

}