.opacidade{
    opacity: 0.7;
}
.cabecalho{
	width: 100%;
	float: left;
	text-align: center;
    margin-top: 50px;
}
.servicosMes{
	width: 100%;
	float: left;
	text-align: center;
    margin-top: 25px;
}
.vendasMes{
	width: 100%;
	float: left;
	text-align: center;
    margin-top: 25px;
}
.textContatos{
	color: white;
}
.conteudoContatos{
    margin: 15px;
    display: block;
    flex-wrap: wrap;
    display: inline-flex;
}
.contatos{
    width: 25%;
    float: left;
    padding: 0% 2%;
    text-align: center;
}
.conteudo{
    border-radius: 25px;
    height: 250px;
}
#tabelaUltimosServicos{
    margin-top: 25px;
}
#tabelaVendasMes{
    margin-top: 25px;
}
